* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.welcome-text, .text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.welcome-header {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}
.welcome-text {
    width: 425px;
}

.header-2, .header-3 {
    text-align: center;
}
.header-2 {
    font-weight: 500;
    font-size: 44px;
}
.header-3 {
    font-size: 36px;
}
.header-4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.send-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.article, .contact-contaner,
.map-container, .contacts {
    display: flex;
}
.article, .contacts {
    justify-content: space-between;
}

.article-section {
    width: 359px;
}

.cooperation {
    width: 495px;
}
.cooperation__header {
    width: 340px;
}

.map-container {
    height: 400px;
}
.map {
    align-items: stretch;
    flex-grow: 1;
    border: none;
}